<div class="content-section implementation">
    <div class="card">
        <p-table [columns]="cols" [value]="dataPrimeNG" responsiveLayout="scroll">
            <ng-template pTemplate="header" let-columns>
                <tr>     
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>    
                </tr>
                <tr>
                    <th>
                        <p-columnFilter type="text" field="name_book"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="description"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="author"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="publication_date"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="number_copies"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="value"></p-columnFilter>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-book>
                <tr>
                    <td>{{book.name_book}}</td>
                    <td>{{book.description}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.publication_date}}</td>
                    <td>{{book.number_copies}}</td>
                    <td>{{book.value}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>